* {
    margin:0; 
    padding:0; 
}

body {
    height: 80vh;
    line-height: 1.5;
    font-family: sans-serif;
    display: grid;
    justify-content: center;
    align-items: center;
  }

section {
    background-color: #6b9cb0;
    display: flex;
    flex-direction: column;
    height:100vh;
}

header, footer{
    text-align: center;
    padding:10px;
    font-size: 1em;
}

nav{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 80%;
    margin: auto;
    padding:10px;
    font-size: 0.65em;
}

main{
    display:flex; 
    flex:1;
    background-color: #cfe9f3;
    padding: 10px;
}

/* code sourced form https://www.30secondsofcode.org/css/s/horizontal-vertical-gallery/ */
.gallery-container {
    display: flex;
    justify-content: center;
  }
  
  .thumbnails {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }
  
  .thumbnails img {
    width: 40px;
    height: 40px;
    cursor: pointer;
  }
  
  .scrollbar {
    width: 1px;
    height: 720px;
    background: #ccc;
    display: block;
    margin: 0 0 0 8px;
  }
  
  .thumb {
    width: 1px;
    position: absolute;
    height: 0;
    background: #000;
  }
  
  .slides {
    margin: 0 16px;
    display: grid;
    grid-auto-flow: row;
    gap: 1rem;
    width: calc(540px + 1rem);
    padding: 0 0.25rem;
    height: 720px;
    overflow-y: auto;
    overscroll-behavior-y: contain;
    scroll-snap-type: y mandatory;
    scrollbar-width: none;
  }
  
  .slides > div {
    scroll-snap-align: start;
  }
  
  .slides img {
    width: 540px;
    object-fit: contain;
  }
  
  .slides::-webkit-scrollbar {
    display: none;
  }
  
  
footer{
    background-color: #6b9cb0;
}

@media screen and (min-width:375px) and (max-width: 900px) {
    section {
        width:100%; 
        height:100%;
        text-align: center;
        margin: 10%;
    }
    nav {
      height: 10%;
      padding:0px; 
    }
    img{
        width: 100%;
        height: 100%;
    }
    .scrollbar{
      height: 20%;
    }

    /* header, footer{
        width:100%;
        height:100%;
    } */
 
}
